<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="telda.restservice.RegionMapper">

    <resultMap id="ResultMap" type="telda.restservice.Region">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="short_name" property="short_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="get" parameterType="int" resultMap="ResultMap">
        select id,name,short_name from region where id = #{id}
    </select>
    <select id="getAll" resultMap="ResultMap">
        select * from region
    </select>



    <update id="update">
        update region
        set <if test="name != null" >name = #{name}</if>
        set <if test="short_name != null" >short_name = #{short_name}</if>
        where
        id = #{id}
    </update>
    <delete id="delete">
        delete from region where id = #{id}
    </delete>
</mapper>